In [1]:
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('ggplot')

## H2O Initialization

In [2]:
import h2o
from h2o.frame import H2OFrame
h2o.init(ip="172.20.252.53", port=54323)
#print(h2o.cluster_status())
h2o.cluster().show_status(True)

Checking whether there is an H2O instance running at http://172.20.252.53:54323. connected.
Warning: Your H2O cluster version is (4 months and 26 days) old.  There may be a newer version available.
Please download and install the latest version from: https://h2o-release.s3.amazonaws.com/h2o/latest_stable.html

--------------------------  --------------------------
H2O_cluster_uptime:         22 secs
H2O_cluster_timezone:       Asia/Kolkata
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.46.0.6
H2O_cluster_version_age:    4 months and 26 days
H2O_cluster_name:           trial1
H2O_cluster_total_nodes:    2
H2O_cluster_free_memory:    4 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://172.20.252.53:54323
H2O_connection_proxy:       null
H2O_internal_security:      False
Python_version:             3.12.3 final
--------------------------  --------------------------

--------------------------  --------------------------
H2O_cluster_uptime:         22 secs
H2O_cluster_timezone:       Asia/Kolkata
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.46.0.6
H2O_cluster_version_age:    4 months and 26 days
H2O_cluster_name:           trial1
H2O_cluster_total_nodes:    2
H2O_cluster_free_memory:    4 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://172.20.252.53:54323
H2O_connection_proxy:       null
H2O_internal_security:      False
Python_version:             3.12.3 final
--------------------------  --------------------------

Nodes info:     Node 1                             Node 2
--------------  ---------------------------------  ---------------------------------
h2o             172.20.252.53/172.20.252.53:54323  172.20.252.58/172.20.252.58:54323
healthy         True                               True
last_ping       1743166334992                      1743166335410
num_cpus        4                                  4
sys_load        1.0917969                          0.024902344
mem_value_size  0                                  0
free_mem        2147483648                         2147483648
pojo_mem        0                                  0
swap_mem        0                                  0
free_disk       76464259072                        80194043904
max_disk        97828995072                        97828995072
pid             12743                              5004
num_keys        0                                  0
tcps_active     0                                  0
open_fds        30                                 30
rpcs_active     0                                  0

## Dataset Load and read

In [3]:
data = h2o.upload_file('/home/sysadm/Videos/H2O_cluster/Final_dataset/Wildfire_prediction.csv')

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [4]:
data.head(10)

  latitude    longitude    bright_ti4    scan    track  acq_date               acq_time  satellite    instrument    confidence      version    bright_ti5    frp  daynight      type
----------  -----------  ------------  ------  -------  -------------------  ----------  -----------  ------------  ------------  ---------  ------------  -----  ----------  ------
  -17.8028      178.181        310.52    0.4      0.37  2023-01-29 00:00:00        1317  N            VIIRS         n                     2        286.51   0.88  N                0
  -17.8062      178.181        302.32    0.4      0.37  2023-01-29 00:00:00        1317  N            VIIRS         n                     2        286.54   0.88  N                0
  -17.9812     -179.05         367       0.35     0.57  2023-02-23 00:00:00          58  N            VIIRS         h                     2        291.06  11.18  D                0
  -17.9822     -179.051        367       0.35     0.57  2023-02-23 00:00:00          58  N            VIIRS         h                     2        292.02  10.9   D                0
  -18.072       178.526        326.74    0.4      0.6   2023-02-28 00:00:00         104  N            VIIRS         n                     2        294.23   3.07  D                0
  -18.0741      178.528        326.56    0.4      0.6   2023-02-28 00:00:00         104  N            VIIRS         n                     2        293.46   1.74  D                0
  -17.385       178.249        332.06    0.51     0.66  2023-03-11 00:00:00          58  N            VIIRS         n                     2        294.65   5.46  D                0
  -18.2095      178.186        333.79    0.4      0.44  2023-04-03 00:00:00         207  N            VIIRS         n                     2        300.75   2.31  D                0
  -17.5634      177.687        327.36    0.35     0.56  2023-04-06 00:00:00         111  N            VIIRS         n                     2        297.05   1.79  D                0
  -17.4387      177.922        330.52    0.52     0.5   2023-04-11 00:00:00         118  N            VIIRS         n                     2        299.09   5.35  D                0
[10 rows x 15 columns]

## EDA

In [5]:
data.describe()

Rows:13521849
Cols:15

         latitude            longitude           bright_ti4         scan                 track                acq_date             acq_time            satellite    instrument    confidence    version    bright_ti5          frp                 daynight    type
-------  ------------------  ------------------  -----------------  -------------------  -------------------  -------------------  ------------------  -----------  ------------  ------------  ---------  ------------------  ------------------  ----------  -------------------
type     real                real                real               real                 real                 time                 int                 enum         enum          enum          int        real                real                enum        int
mins     -87.75106           -179.84212          0.0                0.32                 0.36                 1672531200000.0      0.0                                                          2.0        0.0                 -1.9                            0.0
mean     6.474494457373383   15.985752139755427  334.2970608568397  0.46038372340942435  0.4819621746996287   1689350675598.7585   1205.3035681732579                                           2.0        298.548311828508    10.895091549240044              0.08671654298165886
maxs     72.03236            179.99301           367.0              0.8                  0.78                 1703980800000.0      2359.0                                                       2.0        386.81              12309.09                        3.0
sigma    25.942427018681787  77.69936088445439   18.38039488232789  0.08809581322516843  0.11614269378643148  8342890439.685541    541.6652052610739                                            0.0        11.308123508757314  24.452161361904437              0.423479139779683
zeros    0                   0                   3                  0                    0                    0                    2831                                                         0          28                  3192                            12961797
missing  0                   0                   0                  0                    0                    0                    0                   0            0             0             0          0                   0                   0           0
0        -17.80281           178.18121           310.52             0.4                  0.37                 2023-01-29 00:00:00  1317.0              N            VIIRS         n             2.0        286.51              0.88                N           0.0
1        -17.80618           178.1806            302.32             0.4                  0.37                 2023-01-29 00:00:00  1317.0              N            VIIRS         n             2.0        286.54              0.88                N           0.0
2        -17.98124           -179.04993          367.0              0.35                 0.57                 2023-02-23 00:00:00  58.0                N            VIIRS         h             2.0        291.06              11.18               D           0.0
3        -17.9822            -179.05077          367.0              0.35                 0.57                 2023-02-23 00:00:00  58.0                N            VIIRS         h             2.0        292.02              10.9                D           0.0
4        -18.07195           178.52623           326.74             0.4                  0.6                  2023-02-28 00:00:00  104.0               N            VIIRS         n             2.0        294.23              3.07                D           0.0
5        -18.0741            178.52805           326.56             0.4                  0.6                  2023-02-28 00:00:00  104.0               N            VIIRS         n             2.0        293.46              1.74                D           0.0
6        -17.38497           178.24867           332.06             0.51                 0.66                 2023-03-11 00:00:00  58.0                N            VIIRS         n             2.0        294.65              5.46                D           0.0
7        -18.20948           178.18558           333.79             0.4                  0.44                 2023-04-03 00:00:00  207.0               N            VIIRS         n             2.0        300.75              2.31                D           0.0
8        -17.56342           177.68727           327.36             0.35                 0.56                 2023-04-06 00:00:00  111.0               N            VIIRS         n             2.0        297.05              1.79                D           0.0
9        -17.43874           177.92188           330.52             0.52                 0.5                  2023-04-11 00:00:00  118.0               N            VIIRS         n             2.0        299.09              5.35                D           0.0
[13521849 rows x 15 columns]

In [6]:
data.isna().sum()

0.0

In [7]:
data.types

{'latitude': 'real',
 'longitude': 'real',
 'bright_ti4': 'real',
 'scan': 'real',
 'track': 'real',
 'acq_date': 'time',
 'acq_time': 'int',
 'satellite': 'enum',
 'instrument': 'enum',
 'confidence': 'enum',
 'version': 'int',
 'bright_ti5': 'real',
 'frp': 'real',
 'daynight': 'enum',
 'type': 'int'}

In [8]:
num_cols = [col for col, dtype in data.types.items() if dtype in ['int', 'real']]
cor = data[num_cols].cor()
cor.as_data_frame()

/home/sysadm/Videos/H2O_cluster/env/lib/python3.12/site-packages/h2o/frame.py:1983: H2ODependencyWarning: Converting H2O frame to pandas dataframe using single-thread.  For faster conversion using multi-thread, install polars and pyarrow and use it as pandas_df = h2o_df.as_data_frame(use_multi_thread=True)

  warnings.warn("Converting H2O frame to pandas dataframe using single-thread.  For faster conversion using"

,latitude,longitude,bright_ti4,scan,track,acq_time,version,bright_ti5,frp,type
0,1.000000,-0.468027,-0.203628,-0.021795,-0.042395,0.159948,NaN,-0.294280,0.002785,0.183630
1,-0.468027,1.000000,0.046576,0.013572,0.033463,-0.262635,NaN,0.163189,-0.053607,0.070407
2,-0.203628,0.046576,1.000000,-0.016222,0.062635,-0.032523,NaN,0.624698,0.284009,-0.176460
3,-0.021795,0.013572,-0.016222,1.000000,0.510542,0.006116,NaN,-0.090011,0.082803,0.009810
4,-0.042395,0.033463,0.062635,0.510542,1.000000,0.009437,NaN,-0.157762,0.054139,0.016048
5,0.159948,-0.262635,-0.032523,0.006116,0.009437,1.000000,NaN,-0.079804,0.050101,0.089573
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,-0.294280,0.163189,0.624698,-0.090011,-0.157762,-0.079804,NaN,1.000000,0.325164,-0.152223
8,0.002785,-0.053607,0.284009,0.082803,0.054139,0.050101,NaN,0.325164,1.000000,-0.058105
9,0.183630,0.070407,-0.176460,0.009810,0.016048,0.089573,NaN,-0.152223,-0.058105,1.000000

In [9]:
data['type'].table()

  type             Count
------  ----------------
     0       1.29618e+07
     1   12044
     2  483500
     3   64508
[4 rows x 2 columns]

In [10]:
data['confidence'].table()

confidence               Count
------------  ----------------
h             849394
l                  1.35028e+06
n                  1.13222e+07
[3 rows x 2 columns]

In [11]:
data['daynight'].table()

daynight          Count
----------  -----------
D           9.53544e+06
N           3.98641e+06
[2 rows x 2 columns]

In [12]:
data["type"] = data["type"].asfactor()
data["confidence"] = data["confidence"].asfactor()

# Group by 'type' and 'confidence', count the number of rows per group
grouped = data.group_by(["type", "confidence"]).count()
grouped_result = grouped.get_frame().as_data_frame()

# Optional: Rename for clarity
grouped_result.columns = ['type', 'confidence', 'count']

# Now use pandas to create a crosstab
import pandas as pd
crosstab_result = pd.crosstab(index=grouped_result['type'], 
                              columns=grouped_result['confidence'], 
                              values=grouped_result['count'], 
                              aggfunc='sum', 
                              dropna=False).fillna(0)

print(crosstab_result)

/home/sysadm/Videos/H2O_cluster/env/lib/python3.12/site-packages/h2o/frame.py:1983: H2ODependencyWarning: Converting H2O frame to pandas dataframe using single-thread.  For faster conversion using multi-thread, install polars and pyarrow and use it as pandas_df = h2o_df.as_data_frame(use_multi_thread=True)

  warnings.warn("Converting H2O frame to pandas dataframe using single-thread.  For faster conversion using"

confidence       h        l         n
type
0           833360  1330443  10797994
1              550      185     11309
2            13080    18085    452335
3             2404     1564     60540

In [13]:
import pandas as pd
from scipy.stats import chi2_contingency

# Take a sample and convert to pandas
sample = data[["type", "confidence"]].as_data_frame(use_pandas=True)
cross_tab = pd.crosstab(sample["type"], sample["confidence"])

chi2, p, dof, expected = chi2_contingency(cross_tab)
print("Chi-squared Test p-value:", p)
import decimal
decimal.getcontext().prec = 100
print("Precise p-value:", decimal.Decimal(p))

/home/sysadm/Videos/H2O_cluster/env/lib/python3.12/site-packages/h2o/frame.py:1983: H2ODependencyWarning: Converting H2O frame to pandas dataframe using single-thread.  For faster conversion using multi-thread, install polars and pyarrow and use it as pandas_df = h2o_df.as_data_frame(use_multi_thread=True)

  warnings.warn("Converting H2O frame to pandas dataframe using single-thread.  For faster conversion using"

Chi-squared Test p-value: 0.0
Precise p-value: 0

## Drop Columns

In [14]:
columns_to_drop = ['acq_date', 'version', 'instrument', 'satellite']
data = data.drop(columns_to_drop)

In [15]:
data.head(10)

  latitude    longitude    bright_ti4    scan    track    acq_time  confidence      bright_ti5    frp  daynight      type
----------  -----------  ------------  ------  -------  ----------  ------------  ------------  -----  ----------  ------
  -17.8028      178.181        310.52    0.4      0.37        1317  n                   286.51   0.88  N                0
  -17.8062      178.181        302.32    0.4      0.37        1317  n                   286.54   0.88  N                0
  -17.9812     -179.05         367       0.35     0.57          58  h                   291.06  11.18  D                0
  -17.9822     -179.051        367       0.35     0.57          58  h                   292.02  10.9   D                0
  -18.072       178.526        326.74    0.4      0.6          104  n                   294.23   3.07  D                0
  -18.0741      178.528        326.56    0.4      0.6          104  n                   293.46   1.74  D                0
  -17.385       178.249        332.06    0.51     0.66          58  n                   294.65   5.46  D                0
  -18.2095      178.186        333.79    0.4      0.44         207  n                   300.75   2.31  D                0
  -17.5634      177.687        327.36    0.35     0.56         111  n                   297.05   1.79  D                0
  -17.4387      177.922        330.52    0.52     0.5          118  n                   299.09   5.35  D                0
[10 rows x 11 columns]

## Train, Validation and Test Dataset Split

In [16]:
# Convert to h2o dataframe
hf = h2o.H2OFrame(data)
hf['confidence'] = hf['confidence'].asfactor()
train_valid, test = hf.split_frame(ratios=[0.85], seed=123)
print("Train and Validation Dataset", train_valid.shape)
print("Test Dataset", test.shape)

Train and Validation Dataset (11493651, 11)
Test Dataset (2028198, 11)

In [17]:
train, valid = train_valid.split_frame(ratios = [0.85], seed = 123)
print("Train Dataset", train.shape)
print("Validation Dataset", valid.shape)

Train Dataset (9769726, 11)
Validation Dataset (1723925, 11)

In [18]:
train.head(5)

  latitude    longitude    bright_ti4    scan    track    acq_time  confidence      bright_ti5    frp  daynight      type
----------  -----------  ------------  ------  -------  ----------  ------------  ------------  -----  ----------  ------
  -17.8028      178.181        310.52    0.4      0.37        1317  n                   286.51   0.88  N                0
  -17.8062      178.181        302.32    0.4      0.37        1317  n                   286.54   0.88  N                0
  -17.9812     -179.05         367       0.35     0.57          58  h                   291.06  11.18  D                0
  -17.9822     -179.051        367       0.35     0.57          58  h                   292.02  10.9   D                0
  -18.072       178.526        326.74    0.4      0.6          104  n                   294.23   3.07  D                0
[5 rows x 11 columns]

In [19]:
valid.head(5)

  latitude    longitude    bright_ti4    scan    track    acq_time  confidence      bright_ti5    frp  daynight      type
----------  -----------  ------------  ------  -------  ----------  ------------  ------------  -----  ----------  ------
  -17.4356      177.924        327.86    0.52     0.5          118  l                   298.11   2.63  D                0
  -17.4358      177.89         302.81    0.73     0.76        1228  n                   291.44   1.92  N                0
  -17.9864      177.691        332.55    0.41     0.37         155  n                   300.7    2.08  D                0
  -17.8937      177.39         333.75    0.38     0.36         148  n                   296.91   3.21  D                0
  -17.8825      177.328        328.56    0.38     0.36         148  n                   298.94   2.79  D                0
[5 rows x 11 columns]

## Random Forest

In [20]:
from h2o.estimators import H2ORandomForestEstimator

x = [col for col in train.columns if col != 'confidence']
y = 'confidence'

rf_model = H2ORandomForestEstimator(ntrees= 30, max_depth= 20, seed= 1234)
train[y] = train[y].asfactor()
valid[y] = valid[y].asfactor()
test[y] = test[y].asfactor()

rf_model.train(x=x, y=y, training_frame=train, validation_frame=valid)
rf_model.summary()

drf Model Build progress: |██████████████████████████████████████████████████████| (done) 100%

Model Summary:
    number_of_trees    number_of_internal_trees    model_size_in_bytes    min_depth    max_depth    mean_depth    min_leaves    max_leaves    mean_leaves
--  -----------------  --------------------------  ---------------------  -----------  -----------  ------------  ------------  ------------  -------------
    30                 90                          3.78296e+07            20           20           20            5715          65731         33488.6

In [22]:
# Make predictions on the test set
predictions = rf_model.predict(test)

# Get model performance
performance = rf_model.model_performance(test)
print(performance)

# Print detailed performance metrics
print(performance.auc())
print(performance.rmse())

drf prediction progress: |███████████████████████████████████████████████████████| (done) 100%
ModelMetricsMultinomial: drf
** Reported on test data. **

MSE: 0.02964393526220281
RMSE: 0.17217414225778158
LogLoss: 0.09617963255437362
Mean Per-Class Error: 0.0700651495947615
AUC table was not computed: it is either disabled (model parameter 'auc_type' was set to AUTO or NONE) or the domain size exceeds the limit (maximum is 50 domains).
AUCPR table was not computed: it is either disabled (model parameter 'auc_type' was set to AUTO or NONE) or the domain size exceeds the limit (maximum is 50 domains).

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class
h       l       n            Error      Rate
------  ------  -----------  ---------  ------------------
123949  3685    0            0.0288716  3,685 / 127,634
2604    171499  27923        0.151104   30,527 / 202,026
0       51329   1.64721e+06  0.0302195  51,329 / 1,698,538
126553  226513  1.67513e+06  0.0421759  85,541 / 2,028,198

Top-3 Hit Ratios:
k    hit_ratio
---  -----------
1    0.957824
2    0.999993
3    1
NaN
0.17217414225778158